:root {
  --header: #6c3005;
  --bg: #e8d8cb;
  --primary: #ccbcaf;
  --border: ;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', Sans-Serif;
}

.navbar {
  display: flex;
  background-color: var(--header);
  color: white ;
  justify-content: space-between;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 5%;
}

.navbar .navbar-logo {
  color: white;
  font-size: 30px;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav {
  display: inline-block;
}

.navbar .navbar-nav a {
  font-size: 18px;
  margin: 7px;
  font-weight: 500;
  padding: 6px 10px;
  color: white;
}

.home {
  height: 90vh;
  width: auto;
  background-color: var(--bg);
  color: white;
}

.home .home-content {
  display: flex;
  align-items: center;
}

.home .home-content .home-c1 {
  width: 60%;
  height: auto;
  align-items: center;
  text-align: center;
  padding: auto;
}

.home .home-content .home-c2 {
  background-color: var(--primary);
  border: 5px solid var(--border);
  border-radius: 30px;
  width: 40%;
  height: 620px;
  margin-top: 50px;
  margin-right: 50px;
}

.home .home-content .home-c1 h1 {
  background-color: var(--primary);
  width: auto;
  margin: 0 200px 20px 200px;
  padding: 10px 0 10px 0;
  border: 5px solid var(--border);
  border-radius: 20px;
}

.home .home-content .home-c1 h4 {
  background-color: var(--primary);
  width: auto;
  margin: 0 250px 20px 250px;
  padding: 10px 0 10px 0;
  border: 5px solid var(--border);
  border-radius: 20px;
}

.home .home-content .home-c2 img {
  height: 580px;
  width: 600px;
}

