:root {
  --header: #6c3005;
  --bg: #e8d8cb;
  --primary: #ccbcaf;
  --border: ;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', Sans-Serif;
}

.navbar {
  display: flex;
  background-color: var(--header);
  color: white ;
  justify-content: space-between;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 5%;
}

.navbar .navbar-logo {
  color: white;
  font-size: 30px;
}

.navbar .navbar-logo a {
  color: var(--primary);
  font-style: 'Madimi One';
}

.navbar-search {
  background-color: var(--primary);
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  width: 600px;
}

.navbar-search .nav-src {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.navbar-search .src-btn {
  color: var(--header);
  padding: 8px 0 0 0;
}

.navbar-icon .icon-log,
.navbar-icon .icon-log1 {
  background-color: var(--primary);
  padding: 10px 10px;
  border-radius: 20%;
  margin: 3px;
}

.navbar-icon .icon-log a,
.navbar-icon .icon-log1 a{
  color: var(--header);
}

.home {
  height: 90vh;
  width: auto;
  background-color: var(--bg);
  color: white;
}

.home .home-content {
  display: flex;
  align-items: center;
}

.home .home-content .home-c1 {
  width: 60%;
  height: auto;
  align-items: center;
  text-align: center;
  padding: auto;
}

.home .home-content .home-c2 {
  background-color: var(--primary);
  border: 5px solid var(--border);
  border-radius: 30px;
  width: 40%;
  height: 620px;
  margin-top: 50px;
  margin-right: 50px;
  background-image: url(../img/Sepatu1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -30px 0px;
}

.home .home-content .home-c1 h1 {
  border: 5px solid var(--border);
  border-radius: 20px;
  margin: 0 200px 20px 200px;
  padding: 10px 0 10px 0;
  background-color: var(--primary);
  width: auto;
}

.home .home-content .home-c1 h4 {
  background-color: var(--primary);
  width: auto;
  margin: 0 250px 20px 250px;
  padding: 10px 0 10px 0;
  border: 5px solid var(--border);
  border-radius: 20px;
}